@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2fcfd;
  --divider-blue: #3300ee;
  --footer-black: #05071a;
}

body {
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "IBMPlexSans-Bold";
  src: url("/fonts/IBMPlexSansHebrew-Bold.ttf");
}

@font-face {
  font-family: "IBMPlexSans-Regular";
  src: url("/fonts/IBMPlexSansHebrew-Regular.ttf");
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
    font-size: 0.8rem;
  }
}
